.clear {
  clear: both;
}

#button_twoi {
  background: url(twoi_button.png) top left no-repeat;
  color:#111111;
  cursor:pointer !important;
  font-size:240%;
  height:75px;
  line-height:55px;
  overflow:hidden;
  padding:0 40px;
  text-align:right;
  width:185px;
}

#button_twoi span {
  color: #4A5A32;
  display: block;
  font-size: 0.5em;
  font-weight: normal;
  line-height: 1.4em;
  margin-right: 5px;
  margin-top: -1em;
}

#imgthumb_twoi {
  background: #eee;
  border: solid 1px #aaa;
  display: none;
}

#imgthumb_twoi #thumb_twoi {
  width: 200px;
  float: left;
  padding: 15px;
}

#imgthumb_twoi #remove_twoi {
  float: left;
  padding: 25px 10px;
}

#imgthumb_twoi #remove_twoi a {
  padding: 2px 0 2px 25px;
  background: url(/misc/watchdog-error.png) center left no-repeat;
}

#button_twoi.uploading2i {
  background: url(/misc/throbber.png) center left no-repeat;
}

#api_twoi .resizable-textarea {
  display: none;
}


